.gallery {

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center; 
}

.gallery-item {
  flex: 0 0 auto; 
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;

  transition: width 0.3s ease, height 0.3s ease;
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
}
